<a href="/users/<%=session[:id]%>">Go back</a>
<form action='/sessions' method='post'>
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Log Out">
</form>
<h1>Secrets</h1>



<p> <%@secrets.each do |secret|%> </p>
			<p><%=secret.content%></p>
			
			<p><%=secret.likes.count%> likes</p>

			<% unless Like.where(secret: secret, user: current_user).any? %>

			<form action='/likes' method='post'>
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input type="hidden" name="secret_id" value="<%=secret.id%>">
			<input type="hidden" name="user_id" value="<%=session[:id]%>">
			<input type="submit" value="Like">
				
			</form>

			<% else %>

			<form action='/likes' method='post'>
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input type="hidden" name="secret_id" value="<%=secret.id%>">
			<input type="hidden" name="user_id" value="<%=session[:id]%>">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Unike">
				
			</form>

			<% end %>
			

	<%if secret.user.id === session[:id] %>
			<form action='/secrets/<%=secret.id%>' method='post'>
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input type="hidden" name="_method" value="delete">
			<input type="hidden" name="on_secrets" value="true">
			<input type="submit" value="Delete">
			
			</form>
	<%end%>

	<%end%>

